<% provide(:title, 'List editing') %>
<h1><%= @path %></h1>

<%= link_to "Back to list", list_path(@list), class: "btn btn-default btn-lg btn-primary"  %>

<div class="col-md-12">
    <% unless @list.nil? %>
      <% if @wordsets.empty? %>
        <p>No word.</p>
      <% else %> 
		<section class="col-md-12 table-responsive">
		  <table class="table table-bordered table-striped table-condensed">
		    <thead>
			  <tr>
			    <th><select id="select" class="form-control">
					<% @languages.each do |l|%>         <!--  #TODO gérer le changement de langue -->
						<% if @list.language1_id == l.id %>
      			  		 <option selected> <%= l.name %></option>
						<% else%>
     			  		 <option> <%= l.name %></option>
						<% end %>
      			    <% end %>
                    </select>
				</th>
			    <th><select id="select" class="form-control">
					<% @languages.each do |l|%>
						<% if @list.language2_id == l.id %>
      			  		 <option selected> <%= l.name %></option>
						<% else%>
     			  		 <option> <%= l.name %></option>
						<% end %>
      			    <% end %>
                    </select>
				</th>
			  </tr>
			</thead>
		    <tbody>
			  <% @wordsets.each do |w| %>
			  	<% if w.meaning1_id && w.meaning2_id %>
	            	<tr>
		        		<td><%= Word.find_by(id:w.word1_id).content %></td>
		        		<td><%= Word.find_by(id:w.word2_id).content %></td>
						<td><%= link_to "delete", wordset_path(w, {list_id: @list.id}), controller: :word_sets, method: :delete %></td>
						<% if false%><td><%= links_to "Delete list", edit_list_path(@list)%></td> <%end%>
		        	</tr>
			    <% else @wordsWithoutMeaning = true end%>
			  <% end %>
		    </tbody>
		  </table>
	    </section>
      <% end %>
	  
	  
	  <% if @wordsWithoutMeaning %>
	  	Please associate a meaning to the following words:
	  	<% @wordsets.each do |w| %>
	  		<% if !w.meaning1_id && !w.meaning2_id %>
			 	<%= render 'meanings/new', word1:Word.find_by(id:w.word1_id), 					word2:Word.find_by(id:w.word2_id), act_list:@list, ws:w %>
			    </br>
          	<% end %>
	  	<% end %>
		
	  <% end%>
	  
	  
	  <%= render 'word_sets/new' %>
	  
	<% end %>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
