<% provide(:title, 'List editing') %>
<% if @group.nil? %>
	<h1><%= @path %></h1>
<% else %>
	<h1><%= "[#{@group.name}]#{@path}" %></h1>
<% end %>

<%= link_to "Back to list", path_for_list(@list,@group), class: "btn btn-default btn-lg btn-primary"  %>

<div class="col-md-12">
    <% unless @list.nil? %>
      <% if @wordsets.empty? %>
        <p>No word.</p>
      <% else %>
		<section class="col-md-12 table-responsive">
		  <table class="table table-bordered table-striped table-condensed">
		    <thead>
			  <tr>
			    <th>
						<select id="select" class="form-control">
							<% @languages.each do |l|%>         <!--  #TODO gérer le changement de langue -->
								<% if @list.language1_id == l.id %>
		      			  <option selected> <%= l.name %></option>
								<% else%>
		     			    <option> <%= l.name %></option>
								<% end %>
		      		<% end %>
            </select>
				  </th>
			    <th>
						<select id="select" class="form-control">
							<% @languages.each do |l|%>
								<% if @list.language2_id == l.id %>
		      			  <option selected> <%= l.name %></option>
								<% else%>
		     			    <option> <%= l.name %></option>
								<% end %>
		      		<% end %>
            </select>
				  </th>
			  </tr>
			</thead>
		    <tbody>
			  <% @wordsets.each do |w| %>
			  	<% # if w.meaning1_id && w.meaning2_id # ???? FIXME %>
	          <tr>
		          <td><%= w.word.content %></td>
		        	<td><%= w.translations(@list.language2) %></td>
						  <td><%= link_to "delete", wordset_path(w, {list_id: @list.id}),
										controller: :word_sets, method: :delete %></td>
		        </tr>
			    <% # else @wordsWithoutMeaning = true end%>
			  <% end %>
		    </tbody>
		  </table>
	    </section>
      <% end %>


	  <% if @wordsWithoutMeaning %>
	  	Please associate a meaning to the following words:
	  	<% @wordsets.each do |w| %>
	  		<% if !w.meaning1_id && !w.meaning2_id %>
			 	<%= render 'meanings/new', word1:Word.find_by(id:w.word1_id), 					word2:Word.find_by(id:w.word2_id), act_list:@list, ws:w %>
			    </br>
          	<% end %>
	  	<% end %>

	  <% end%>
		
		
		<% if @dataPrepared %>
			<p>Please check the following data before adding it to the database:</p>
			<%= form_for(:wordset, url: path_for_list_prepare_data_to_add(@list,@group), method: :post) do |f| %>
		  <%= f.hidden_field :checked, value: true %>
			
			
			<section class="col-md-12 table-responsive">
			  <table class="table table-bordered table-striped table-condensed">
			    <thead>
				  <tr>
						<th>Index</th>
				    <th><%= @language1_name %></th>		
				    <th><%= @language2_name %></th>
						<th>Please choose</th>
				  </tr>
				</thead>
			  <tbody>
				  <% @dataPrepared.each do |index,v| %>
		          <tr>
								<td><%= index %></td>
			          <td><font color ="<%= v[:word0][:should_be_created]? 'orange' : 'green' %>"> <%= v[:word0][:value] %></font></td>
			          <td><font color ="<%= v[:word1][:should_be_created]? 'orange' : 'green' %>"> <%= v[:word1][:value] %></font></td>
								<td> 
								<% if v[:link][:should_be_created]%>
								  Create both words in the database and create a common meaning
									
								<% elsif v[:link][:already_exists]%>
									Both words already exists and are already linked. Just add it to your list :)
									
								<% elsif v[:link][:should_be_selected]%>
								  <% @word1 = Word.find(v[:word0][:id]) %>
								  <% @word2 = Word.find(v[:word1][:id]) %>
									
						      <% @common_m = @word1.common_meanings(@word2) %>
							    <% [@word1, @word2].each do |word| %>
										<% if (word == @word1) %>
											<% opposite_word = @word2 %>
										<% else %>
											<% opposite_word = @word1 %>
										<% end %>
							      <% word.meanings.each do |m| %>
							        <% if not @common_m.include?(m) %>
							          <%= f.radio_button "i#{index.to_s}[link]", m.id %>
							          <%= f.label :action, "Link <i>#{opposite_word.content}</i> to the meaning (n°#{m.id}) containing: </br>#{m.words_in_two_lang(@language1,@language2)}.".html_safe%>
											</br>
											<% end %>
							      <% end %>
							    <% end %>								
								<% end %>
								
								</td>
			        </tr>
				  <% end %>
			    </tbody>
			  </table>
		    </section>
		<% end %>
		<% end%>
		
		
		<%= form_for(:wordset, url: path_for_list_prepare_data_to_add(@list,@group), method: :post) do |f| %>

		  <%= f.hidden_field :list_id, value: @list.id %>

		  <%= f.label "Add new words" %>
	
		  <%= f.text_area :data_to_add, placeholder: "word1=word2", class: 'form-control' %>

		  <br/>
		  <%= f.submit "Add the words", class: "btn btn-default btn-lg btn-primary" %>
		<% end %>

	  <!-- <%= render 'word_sets/new' %> -->

	<% end %>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

