<% provide(:title, 'List') %>
<h1><%= @path %></h1>


<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
        Action <i class="glyphicon-cog"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% unless @list.nil? %>
          <li>
          <% if @list.parent.nil? %>
            <%= link_to "Go back to /", lists_path %>
          <% else %>
            <%= link_to "Go back to #{@list.parent.path}", @list.parent %>
          <% end %>
          </li>
          <% unless @moving %>
            <li>
            <%= link_to "Move", list_moving_path(@list) %>
            </li>
          <% end %>
          <li>
          <%= link_to "Export", list_export_path(@list) %>
          </li>
					<li> 
					<%= link_to "Delete list", @list, method: :delete, data: {confirm: "You sure?"} %>
					</li>
        <% end %>
        <% if @new_list.nil? %>
          <li>
          <%= link_to 'New list here', path_for_new_list(@list) %>
          </li>
        <% end %>
				
      </ul>
    </div>

    <% if @moving %>
      <%= form_for :dest, url: list_move_path(@list) do |f| %>
        <%= f.label :list_id, "Destination" %>
        <% if @list.parent.nil? %>
          <%= f.collection_select("list_id", current_user.lists_outside(@list), :id, :path) %>
        <% else %>
          <%= f.collection_select("list_id", current_user.lists_outside(@list), :id, :path, prompt: "/") %>
        <% end %>
        <br />
        <%= f.submit "Move", class: "btn btn-default" %>
      <% end %>
    <% end %>
		
    <% unless @new_list.nil? %>
      <%= form_for @new_list, url: path_to_create_list(@list) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
		    <%= f.label :language_1 %>
		    <select name="language1_id" id="language1_id">
			    <% Language.all.each do |l|%>
				    <% if l == @lang1 %>
	  			    <option selected value=<%=l.id%>> <%= l.name %></option>
				    <% else %>
  			      <option value=<%=l.id%>> <%= l.name %></option>
				    <% end %>
	        <% end %>
		    </select>
		    <%= f.label :language_2 %>
		    <select name="language2_id" id="language2_id">
			    <% Language.all.each do |l|%>
				    <% if l == @lang2 %>
	  			    <option selected value=<%=l.id%>> <%= l.name %></option>
				    <% else %>
  			      <option value=<%=l.id%>> <%= l.name %></option>
				    <% end %>
	        <% end %>
		    </select>
        <br />
        <%= f.submit "Create list here", class: "btn btn-default" %>
      <% end %>
    <% end %>
		
		
		<% if @export %>
		
		<%= form_for :export, url: list_exporting_path(@list), method: :get do |f| %>
		  <%= hidden_field_tag 'export[trains]', nil %>
		  <%= hidden_field_tag 'export[results]', nil %>
		  Save trains?    : <%= check_box_tag "export[trains]", "1", true %>
		  Save your success results?    : <%= check_box_tag "export[results]", "1", true %>
		  <%= f.submit %>
		<% end %>
		

		<% end %>
		
<!-- url: list_exporting_path(@list) -->

    <h2>Sublists</h2>
    <% if @childs.empty? %>
      <p>No sublist.</p>
    <% else %>
      <ul>
        <% @childs.each do |list| %>
          <li>
          <%= link_to list.name, list %>
          </li>
        <% end %>
      </ul>
    <% end %>
	
    <% unless @list.nil? %>
      <h2>Words</h2>
      <% if @wordsets.empty? %>
        <p>No word.</p>
      <% else %> 
		<section class="col-md-12 table-responsive">
		  <table class="table table-bordered table-striped table-condensed">
		    <thead>
			  <tr>
			    <th>Nb</th>
			    <th><%= @language1_name %></th>
			    <th><%= @language2_name %></th>
					<th>Success ratio q->a (%)</th>
					<th>Success ratio q<-a (%)</th>
			  </tr>
			</thead>
		    <tbody>
		      <% @wordsets.each do |w| %>
  	        <tr>
							<td><%= @i %></td>
		        	<td><%= Word.find_by(id:w.word1_id).content %></td>
		        	<td><%= Word.find_by(id:w.word2_id).content %></td>
							<td><%= w.success_ratio_qa.to_i %></td>
							<td><%= w.success_ratio_aq.to_i %></td>
	  		    </tr>	
						<% @i = @i+1%>
		      <% end %>
		    </tbody>
		  </table>
	    </section>
			
			<%= will_paginate @wordsets, param_name: :page_ws %>
			
      <% end %>
	  
	  
	  <%= link_to "Edit list", edit_list_path(@list), class: "btn btn-default btn-lg btn-primary"  %>
		<%= link_to "New train", new_train_path(list_id:@list.id), class: "btn btn-default btn-lg btn-primary" %>
		
    <% end %>
  </div>
	
	
	
	
	<% if not (@trains.nil? or @trains.empty?) %>


  <h2>Trains</h2>
	<section class="col-md-12 table-responsive">
	  <table class="table table-bordered table-striped table-condensed">
	    <thead>
		  <tr>
		    <th>Nb</th>
				<th>Finalized date</th>
				<th>Success ratio</th>
				<th>Progress</th>
				<th>Delete</th>
		  </tr>
		  </thead>
	    <tbody>
				<% @i = 1 %>
	      <% @trains.each do |t| %>
	         <tr>
	        	<td><%= @i %></td>
	        	<td><%= t.updated_at %></td>
						<td><%= t.success_ratio %></td>
						<td><% if t.finalized%> 
									<%= link_to "summary", train_summary_path(t) %></td>
							  <% else %>  
								  <%= link_to "continue", train_path(t) %></td>
								<% end %>
						<td><%= link_to "delete", train_path(t, {list_id: @list.id}), 
										controller: :trains, method: :delete %></td>
  		    </tr>	
					<% @i = @i +1 %>
	      <% end %>
	    </tbody>
	  </table>
    </section>
		
	<%= will_paginate @trains, param_name: :page_trains %>
		
	
	<% end %>
	
	
	
	
	<% if false%>
  <% if not @list.nil? and @list.owner == current_user %>
    <div class="col-md-6">
      <h2>New links</h2>
      <p>
      Quickly add new words to this list while ensuring your
      requested link is present.
      If the words or the link doesn't exist, it will be added.
      </p>
      <%= render 'links/new' %>
    </div>
  <% end %>
	<% end %>
</div>
