<% provide(:title, 'List') %>
<h1><%= @path %></h1>


<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
        Action <i class="glyphicon-cog"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% unless @list.nil? %>
          <li>
          <% if @list.parent.nil? %>
            <%= link_to "Go back to /", lists_path %>
          <% else %>
            <%= link_to "Go back to #{@list.parent.path}", @list.parent %>
          <% end %>
          </li>
          <% unless @moving %>
            <li>
            <%= link_to "Move", list_moving_path(@list) %>
            </li>
          <% end %>
          <li>
          <%= link_to "Export", list_export_path(@list) %>
          </li>
        <% end %>
        <% if @new_list.nil? %>
          <li>
          <%= link_to 'New list here', path_for_new_list(@list) %>
          </li>
        <% end %>
      </ul>
    </div>

    <% if @moving %>
      <%= form_for :dest, url: list_move_path(@list) do |f| %>
        <%= f.label :list_id, "Destination" %>
        <% if @list.parent.nil? %>
          <%= f.collection_select("list_id", current_user.lists_outside(@list), :id, :path) %>
        <% else %>
          <%= f.collection_select("list_id", current_user.lists_outside(@list), :id, :path, prompt: "/") %>
        <% end %>
        <br />
        <%= f.submit "Move", class: "btn btn-default" %>
      <% end %>
    <% end %>
    <% unless @new_list.nil? %>
      <%= form_for @new_list, url: path_to_create_list(@list) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br />
        <%= f.submit "Create list here", class: "btn btn-default" %>
      <% end %>
    <% end %>

    <h2>Sublists</h2>
    <% if @lists.empty? %>
      <p>No sublist.</p>
    <% else %>
      <ul>
        <% @lists.each do |list| %>
          <li>
          <%= link_to list.name, list %>
          </li>
        <% end %>
      </ul>
    <% end %>
	
    <% unless @list.nil? %>
      <h2>Words</h2>
      <% if @wordsets.empty? %>
        <p>No word.</p>
      <% else %> 
		<section class="col-md-12 table-responsive">
		  <table class="table table-bordered table-striped table-condensed">
		    <thead>
			  <tr>
			    <th><%= @language1_name %></th>
			    <th><%= @language2_name %></th>
			  </tr>
			</thead>
		    <tbody>
	          <tr>
		        <% @wordsets.each do |w| %>
		        	<td><%= Word.find_by(id:w.word1_id).content %></td>
		        	<td><%= Word.find_by(id:w.word2_id).content %></td>
				<% end %>
		      </tr>
		    </tbody>
		  </table>
	    </section>
      <% end %>

      <h2>Training</h2>
      <%= form_for(:train, url: list_training_path(@list)) do |f| %>
        <fieldset>
          <legend>Filter</legend>
          <span class="help-block">
            By default, all the words can be asked.
            Here is filters you can apply.
            If you have an idea for another filter, please
            <%= link_to_bug_tracker 'let us know' %>.
          </span>
          <%= f.label :max, "Maximum success rate" %>
          <%= f.number_field :max, value: 100 %>
          <span class="help-block">
            A word with a success rate higher than this
            won't be asked.
            This is the average success rate of every user.
          </span>
          <%= f.label :rec do %>
            <%= f.check_box :rec %>
            pick words from sublists too
          <% end %>
        </fieldset>
        <fieldset>
          <legend>Priority</legend>
          <span class="help-block">
            You are first asked the words that you have never tried and that
            have a success rate lower or equal than the maximum success rate.
            Once you have tried every word or all the words you haven't
            tried are too easy according to your filters,
            you are asked the words you have not tried
            for the longest time first.
            More options will be added.
            If you have an idea for an option, please
            <%= link_to_bug_tracker 'let us know' %>.
          </span>
        </fieldset>
        <%= f.submit "Start training", class: 'btn btn-default btn-lg btn-primary' %>
      <% end %>
    <% end %>
  </div>

  <% if not @list.nil? and @list.owner == current_user %>
    <div class="col-md-6">
      <h2>New links</h2>
      <p>
      Quickly add new words to this list while ensuring your
      requested link is present.
      If the words or the link doesn't exist, it will be added.
      </p>
      <%= render 'links/new' %>
    </div>
  <% end %>
</div>
