<% provide(:title, 'List') %>
<h1><%= @path %></h1>


<div class="row">
  <div class="span6">
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Action <i class="icon-cog"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% unless @list.nil? %>
          <li>
          <% if @list.parent.nil? %>
            <%= link_to "Go back to /", lists_path %>
          <% else %>
            <%= link_to "Go back to #{@list.parent.path}", @list.parent %>
          <% end %>
          </li>
          <% unless @moving %>
            <li>
            <%= link_to "Move", list_moving_path(@list) %>
            </li>
          <% end %>
        <% end %>
        <% if @new_list.nil? %>
          <li>
          <%= link_to 'New list here', path_for_new_list(@list) %>
          </li>
        <% end %>
      </ul>
    </div>

    <% if @moving %>
      <%= form_for :dest, url: list_move_path(@list) do |f| %>
        <%= f.label :list_id, "Destination" %>
        <% if @list.parent.nil? %>
          <%= f.collection_select("list_id", current_user.lists_outside(@list), :id, :path) %>
        <% else %>
          <%= f.collection_select("list_id", current_user.lists_outside(@list), :id, :path, prompt: "/") %>
      <% end %>
        <br />
        <%= f.submit "Move", class: "btn" %>
      <% end %>
    <% end %>
    <% unless @new_list.nil? %>
      <%= form_for @new_list, url: path_to_create_list(@list) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br />
        <%= f.submit "Create list here", class: "btn" %>
      <% end %>
    <% end %>

    <h2>Sublists</h2>
    <% if @lists.empty? %>
      <p>No sublist.</p>
    <% else %>
      <ul>
        <% @lists.each do |list| %>
          <li>
          <%= link_to list.name, list %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if @path != '/' %>
      <h2>Words</h2>
      <% if @words.empty? %>
        <p>No word.</p>
      <% else %>
        <ul>
          <% @words.each do |word| %>
            <li>
            <%= link_to word.content, word %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <%= link_to "Train on this list", new_list_train_path(@list),
        class: 'btn' %>
      <%= link_to "Train on this list and its sublists", new_list_train_path(@list, rec: true),
        class: 'btn btn-primary' %>
    <% end %>
  </div>

  <% unless @list.nil? %>
    <div class="span6">
      <h2>New links</h2>
      <p>
      Quickly add new words to this list while ensuring your
      requested link is present.
      If the words or the link doesn't exist, it will be added.
      </p>
      <%= render 'links/new' %>
    </div>
  <% end %>
</div>
