<% provide(:title, "Openvoc signin") %>

<%= form_for :registration, url: sessions_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <br />
  <%= f.submit 'Log in', class: "btn btn-default btn-lg btn-primary" %>
<% end %>
<p>No account yet ?
<%= link_to "Register", new_registration_path %>
</p>
