<% provide(:title, "Openvoc signin") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for :registration, url: sessions_path, class: 'form-horizontal' do |f| %>
    <div class="form-group">
      <%= f.label :email, class: 'col-md-4 control-label' %>
      <div class="col-md-8">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'col-md-4 control-label' %>
      <div class="col-md-8">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <br />
    <%= f.submit 'Log in', class: "btn btn-default btn-lg btn-primary" %>
  <% end %>
  <p>No account yet ?
  <%= link_to "Register", new_registration_path %>
  </p>
  </div>
</div>
