<% provide(:title, 'Training' ) %>
<h1>Training<i class="glyphicon-question-sign"></i></h1>
<%= form_for(:train, url: list_trains_path(@list, rec: @rec, max: @max)) do |f| %>
  <%= f.hidden_field :word_id, value: @word.id %>
  <%= f.label :guess, "What is the translation of \"#{@word.content}\"?" %>
  <%= f.text_field :guess %>
  <br />
  <%= f.submit "Guess", class: "btn btn-default btn-lg btn-primary" %>
<% end %>
<%= back_to_list %>
