<% provide(:title, 'Training' ) %>
<h1>Training
  <% if @guess.nil? %>
    <i class="glyphicon-remove-sign"></i>
  <% else %>
    <i class="glyphicon-ok-sign"></i>
  <% end %>
</h1>


<% if @previous_frag %>
<% if @prev_correct == true %>
	<p>Yes! The translation of "<%= @prev_word1.content %>" is indeed "<%= @prev_answer %>" (Expected: "<%= @prev_word2.content %>")!</p>
	<p>Think you were wrong? Click <%= link_to("here", train_path(@train, modif_guess: {to: false}))%>.</p>
	
<% else %>
		<p>No! The translation of "<%= @prev_word1.content %>" was "<%= @prev_word2.content %>", not "<%= @prev_answer %>"! </p>
		<p>Think you were right? Click <%= link_to("here", train_path(@train, modif_guess: {to: true}))%>.</p>
<% end %>
<% end %>



<% if @train.finished? %>
<p> <%= link_to("Finalize the train", train_finalize_path(@train))%> </p>

<% else %>
<%= form_for(:guess, url: train_path(@train), method: :get)  do %>
  <%= label_tag :translation, "What is the translation for \"#{@word1f.content}\"?" %>
  <%= text_field_tag :translation, nil, options = {autofocus: :autofocus} %>
  <%= submit_tag "Submit", class: "btn btn-default" %>
<% end %>

<% end%>


<%= back_to_list %>
