<h1>
  <%= @language.name %>
</h1>
<% if @words.any? %>
  <h3>Words (<%= @words.count %>)</h3>
  <%= will_paginate @words %>
  <ul class="unstyled">
    <% @words.each do |word| %>
      <li>
      <%= link_to word.content, word_path(word) %>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @words %>
<% end %>
