<% provide(:title, "Sign In") %>
<% if @authentications %>
  <% unless @authentications.empty? and !current_user.registered? %>
    <p><strong>You can sign in to this account using:</strong></p>
    <img src="openvoc_128.png">
    </img>
    <div class="well">
      <div class="row-fluid">
        <ul class="thumbnails">
          <!-- Not more than 6 so span2 is safe -->
          <% if current_user.registered? %>
            <li class="span2">
            <%= image_tag "openvoc_128.png", :size => "64x64" %>
            <div class="caption">
              <p><strong>Openvoc</strong>
              <%= link_to current_user.registration,
                confirm: 'Are you sure you want to remove this authentication option?',
                method: :delete do %>
                  <i class="icon-remove"></i>
                <% end %>
                </p>
              </div>
              </li>
            <% end %>
            <% for authentication in @authentications %>
            <li class="span2">
            <%= provider_image(authentication.provider, 64) %>
            <div class="caption">
              <p>
              <strong><%= provider_name(authentication.provider) %>
              </strong>
              <%= link_to authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete do %>
                <i class="icon-remove"></i>
              <% end %>
              </p>
            </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <p><strong>Add another service to sign in with:</strong></p>
<% else %>
  <p><strong>Sign in through one of these services:</strong></p>
<% end %>

<div class="well">
  <div class="row-fluid">
    <div class="span2">
      <a href=<%= new_session_path %> class="auth_provider">
        <%= image_tag "openvoc_128.png", :size => "64x64", :alt => "Openvoc" %>
        Openvoc
      </a>
    </div>
    <% @methods = ['open_id', 'twitter', 'github', 'google_oauth2']
    unless Rails.env.production?
      @methods.prepend('developer')
    end %>
    <% @methods.each do |provider| %>
      <div class="span2">
        <%= link_to "/auth/#{provider}", class: "auth_provider" do %>
          <%= image_tag "#{provider}_64.png", size: "64x64",
            alt: provider_name(provider) %>
            <%= provider_name(provider) %>
        <% end %>
      </div> 
    <% end %>
  </div>
</div>
