<% provide(:title, "Groups") %>
<h1>Groups: new</h1>


<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
        Action <i class="glyphicon-cog"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
				  <%= link_to "Go back to the groups list", groups_path %>
			  </li>
      </ul>
    </div>
		
		<%= form_for (@new_group) do |f| %>
		  <%= f.label :name %>
		  <%= f.text_field :name %>
			<%= f.label :public? %>
			<%= f.check_box :public? %>
		  <br />
		  <%= f.submit "Create", class: "btn btn-default btn-lg btn-primary" %>
		<% end %>
		

	</div>
</div>
