<% provide(:title, "Groups") %>
<h1>Groups</h1>


<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
        Action <i class="glyphicon-cog"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
				  <%= link_to "Create a new group", new_group_path %>
			  </li>
      </ul>
    </div>
		
		<%= form_tag("search", method: "get") do %>
		  <%= label_tag(:q, "Search for:") %>
		  <%= text_field_tag(:q) %>
		  <%= submit_tag("Search") %>
		<% end %>
		
		
		<% unless @groups_list.nil? or @groups_list.empty? %>
		  <ul>
			<% @groups_list.each do |f| %>
		    <li>
		      <%= link_to "#{f.name}", group_lists_path(f) %>
		    </li>
			<% end%>
		  </ul>
		<% else %>
		  <p>No group matches your queries. Try again!</p>
		<% end %>
	</div>
</div>
