<% provide(:title, "New user") %>

<h1>New user</h1>
<%= form_for :user, url: users_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, value: session['email'] %>
  <%= f.label :name %>
  <%= f.text_field :name, value: session['name'] %>
  <br />
  <%= f.submit "Create", class: "btn btn-default btn-lg btn-primary" %>
<% end %>
