<% provide(:title, "New link") %>
<h1>New link</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:link, url: links_path) do |f| %>

      <%= render 'languages/select', f: f, language: @language1, n: 1 %>
      <%= render 'words/select', f: f, word_content: @word1_content, n: 1 %>

      <%= render 'languages/select', f: f, language: @language2, n: 2 %>
      <%= render 'words/select', f: f, word_content: @word2_content, n: 2 %>

      <br/>
      <%= f.submit "Create the link", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
