<% provide(:title, "Link to meaning") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:meaning, url: meanings_path) do |f| %>
      <%= f.hidden_field :word1_id, value: @word1.id %>
      <%= f.hidden_field :word2_id, value: @word2.id %>
      <% unless @list.nil? %>
        <%= f.hidden_field :list_id, value: @list.id %>
      <% end %>
      <% @common_m = @word1.common_meanings(@word2) %>
      <%= f.label :meaning %><br />
      <% if @common_m.count > 0 %>
        <% @new_by_default = false %>
        <p>The words are already linked by the meanings:</p>
        <% @common_m.each do |m| %>
        <ul>
          <li><%= link_to m.id, meaning_path(m.id) %></li>
        </ul>
        <% end %>
        <div class="input-group">
          <span class="input-group-addon">
            <%= f.radio_button :meaning, "donothing", checked: true %>
          </span>
          <%= f.label :meaning, "This is exactly their common meaning I wanted. No meaning to add :)", value: "donothing", class: 'form-control'  %>
        </div><!-- /input-group -->
      <% else %>
        <% @new_by_default = true %>
      <% end %>
      <div class="input-group">
        <span class="input-group-addon">
          <%= f.radio_button :meaning, "new", checked: @new_by_default %>
        </span>
        <%= f.label :meaning, "Create a new meaning and links both words to it", value: "new", class: 'form-control'  %>
      </div><!-- /input-group -->
      <% [@word1, @word2].each do |word| %>
        <% first = true %>
        <% word.meanings.each do |m| %>
          <% if not @common_m.include?(m) %>
            <% if first %>
              <% first = false %>
              <p>Or use one of the meaning of <%= link_to word.content, word_path(word) %> and only link the other word to it:</p>
            <% end %>
            <div class="input-group">
              <span class="input-group-addon">
                <%= f.radio_button :meaning, m.id %>
              </span>
              <%= f.label :meaning, m.id.to_s, value:  m.id.to_s, class: 'form-control'  %>
            </div><!-- /input-group -->
          <% end %>
        <% end %>
        <% if first %><!-- No meaning -->
          <% if word.meanings.empty? %>
            <p><%= link_to word.content, word_path(word) %> has currently no meaning.</p>
          <% else %>
            <p>All the meanings of <%= link_to word.content, word_path(word) %> are also linked with the other word.</p>
          <% end %>
        <% end %>
      <% end %>
    <br/>
    <%= f.submit "Choose option", class: "btn btn-default btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
