<% provide(:title, "Link to meaning") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:meaning, url: meanings_path) do |f| %>
      <%= f.hidden_field :word1_id, value: @word1.id %>
      <%= f.hidden_field :word2_id, value: @word2.id %>
      <% unless @list.nil? %>
        <%= f.hidden_field :list_id, value: @list.id %>
      <% end %>
      <% @common_m = @word1.common_meanings(@word2) %>
			<% @checked = true %>
			
      <%= f.label "#{@word1.content} - #{@word2.content}" %><br />
		  <% if @common_m.count > 0 %>
				<% @common_m.each do |m| %>
		      <div class="input-group">
		        <span class="input-group-addon">
		          <%= f.radio_button :action, "donothing", checked: @checked %>
							<% @checked = false %>
		        </span>
				  <%= f.text_area :action, "#{@word1.content} and #{@word2.content} do already have a common meaning (n°#{m.id}): #{m.words_in_two_lang(@language1,@laguage2)}. No meaning to add :)", value: "donothing", class: 'form-control', rows: 3  %>
			  </div>
						
			  <% end %>
			<% end %>
				
	    <% [@word1, @word2].each do |word| %>
				<% if (word == @word1) %>
					<% opposite_word = @word2 %>
				<% else %>
					<% opposite_word = @word1 %>
				<% end %>
	      <% word.meanings.each do |m| %>
	        <% if not @common_m.include?(m) %>
			      <div class="input-group" rows="3" >
	            <span class="input-group-addon">
	              <%= f.radio_button :action, m.id, checked: @checked %>
								<% @checked = false %>
	            </span>
	              <%= f.label :action, "Link <i>#{opposite_word.content}</i> to the meaning (n°#{m.id}) containing: </br>#{m.words_in_two_lang(@language1,@language2)}.".html_safe%>
				    </div>
					<% end %>
	      <% end %>
	    <% end %>
			
	    <div class="input-group">
        <span class="input-group-addon">
          <%= f.radio_button :action, "new", checked: @checked %>
        </span>
        <%= f.label :action, "Create a new meaning and link both words to it", value: "new", class: 'form-control'  %>
			</div>
			
    <%= f.submit "Choose option", class: "btn btn-default btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
