<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">

    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <button class="btn btn-navbar"
      data-toggle="collapse" data-target=".nav-collapse" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <%= link_to "Openvoc", root_path, class: "brand" %>

    <!-- Everything within here will be hidden at 940px or less -->
    <!-- Adding collapse class to nav make it open by default -->
    <nav class="nav-collapse">
      <ul class="nav">
        <li <%= "class=active" if yield(:title) == "Languages" %>><%= link_to "Languages", languages_path %></li>
        <li <%= "class=active" if yield(:title) == "New link" %>><%= link_to "New link", new_link_path %></li>
      </ul>
      <ul class="nav pull-right">
      <!--<li><%= form_for(:link) do |f| %>
        <%= f.text_field :word1 %>
      <% end %></li>-->
        <li <%= "class=active" if yield(:title) == "Contact" %>><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</div>
</header>
