<% provide(:title, "Settings") %>

<h1>Settings</h1>

<div class="row">
  <div class="span2">
    <ul class="nav nav-tabs nav-stacked">
      <li <%= 'class="active"'.html_safe if @users_edit %>>
      <%= link_to "User", edit_user_path(@user) %>
      </li>
      <% if current_user.registered? %>
        <li <%= 'class="active"'.html_safe if @registrations_edit %>>
        <%= link_to "Registration",
          edit_registration_path(@user.registration) %>
        </li>
        <% end %>
    </ul>
  </div>
  <div class="span10">
    <%= yield %>
  </div>
</div>

<%= parent_layout 'application' %>
